@import url('https://fonts.googleapis.com/css?family=Anton&family=Inter');
@import "tailwindcss";

.nav-item {
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.25rem;
    padding: 0.5rem 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.overview-img {
    aspect-ratio: 1/1;
}

.font-anton {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.spin {
    animation: spin 3s linear infinite;
}